name: Check commits


on: [push]

jobs:
  example_check_commits_job:
    runs-on: ubuntu-latest
    name: Check for commits within the last 1 hours
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout with maximum fetch depth
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run CommitsWithinTime script
        uses: ./ # Uses an action in the root directory
        id: commitswithintime
        with:
          hours: 1
          exportToFile: true
      # Use the output from the `hello` step
      - name: Get the output from CommitsWithinTime
        run: |
          echo "The 'has-new-commits-within-time' value is ${{ steps.commitswithintime.outputs.has-new-commits-within-time }}"
          echo "The 'number-of-commits-within-time' value is ${{ steps.commitswithintime.outputs.number-of-commits-within-time }}"
          echo "The 'total-commits' value is ${{ steps.commitswithintime.outputs.total-commits }}"

  example_check_data_from_other_job:
    needs: example_check_commits_job
    runs-on: ubuntu-latest
    name: Check for data from artifact created by other job
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout with maximum fetch depth
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: outputCommitsWithinTime
          path: exampleDownloadOfArtifactData

      - name: Read total commits from artifact JSON
        id: getTotalCommits
        uses: notiz-dev/github-action-json-property@release
        with:
          path: 'exampleDownloadOfArtifactData/CommitsWithinTime/outputFromCommitsWithinTime.json'
          prop_path: "totalCommits"

      - name: Read hasNewCommitsWithinTime from artifact JSON
        id: getHasNewCommits;
        uses: notiz-dev/github-action-json-property@release
        with:
          path: 'exampleDownloadOfArtifactData/CommitsWithinTime/outputFromCommitsWithinTime.json'
          prop_path: "hasNewCommitsWithinTime"

      - name: Read new commits from artifact JSON
        id: getNewCommitsCount
        uses: notiz-dev/github-action-json-property@release
        with:
          path: 'exampleDownloadOfArtifactData/CommitsWithinTime/outputFromCommitsWithinTime.json'
          prop_path: "numberOfCommitsWithinTime"
      
      - run: echo ${{steps.getTotalCommits.outputs.prop}} 
      - run: echo ${{steps.getHasNewCommits.outputs.prop}} 
      - run: echo ${{steps.getNewCommitsCount.outputs.prop}} 

